<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.status.mapper.ServiceMapper">

    <resultMap id="baseMap" type="com.im.status.model.TService">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BASE_COLUMN" >
        id as id,
        `name` as `name`
    </sql>

    <select id="select" resultMap="baseMap" >
      select <include refid="BASE_COLUMN" /> FROM t_service
    </select>

</mapper>